*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(27, 28, 28);
    background: url("../images/backgroundblack.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.cover{
    width: 420px;
    background: transparent;
    border: 2px solid;
    border-color: rgb(151, 151, 151);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
}

.cover h1{
    text-align: center;
    font-size: 35px;
}

.cover .usernpass{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
}
.cover input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 2px solid aliceblue;
    color: white;
    font-size: 17px;
    padding: 20px 45px 20px 20px;
    border-color: rgb(151, 151, 151);
}

.cover input::placeholder{
    color: white;
}

.usernpass i{
    position: absolute;
    right: 20px;
    height: 50%;
    transform: translateY(50%);
    font-size: 17px;
}

.forgotpass a{
    color: white;
    text-decoration: none;
    font-weight: bold;
} 

.forgotpass a:hover{
    text-decoration: underline;
}

.cover .button{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(37, 36, 36);
}

.cover .newacc{
    margin-top: 15px;
    text-align: center;
}

.cover a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.cover a:hover{
    text-decoration: underline;
}