<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/register.css">
</head>
<body>
    <div class="cover">
        <form>
            <h1>Register</h1>
            <div class="usernpass">
                <label for="username">Create your username:</label><br>
                <input type="text" id="username" required>
            </div>

            <div class="usernpass">
                <label for="password">Create your password:</label><br>
                <input type="text" id="password" required>
            </div>
            
            <p class="required">junk</p>

            <button class="button">Submit</button>
        </form>
    </div>
</body>
</html>